node_modules/
!node_modules/react-apollo/*

.elasticbeanstalk/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# problems with eb deployment below
# node-sass threw error in npm install so I removed it